{% extends 'base.html' %}

{% block head%}
<title>Edit Posts</title>
{% endblock %}


{% block body%}
    <hr>
<h2>Editing Blog Post:</h2>
<form action="/posts/edit/{{ post.id }}" method="POST">
    Title:
     <input class="form-control" type="text" placeholder="Enter the topic" name="title" id="title" value="{{post.title}}">
    <br>
    Author:
     <input class="form-control" type="text" placeholder="Enter the author" name="author" id="author" value="{{post.author}}">
    <br>
    Post:
    <textarea class="form-control" type="text" placeholder="What do you want to write" name="content" id="content" rows="4"></textarea>
    <br>
    <br>
    <input class="btn btn-success" type="submit" name="Save">
    <br>
</form>
<hr>
{% endblock %}
