{% extends 'base.html' %}

{% block head%}
<title>Home page</title>
{% endblock %}
{% block body%}
    <br>
    <br>
    <main role="main">
    <div class="jumbotron" style="background: rgba(200,200,200,0.6);">
      <div class="col-sm-8 mx-auto">
        <h1 style="font-family: Trattatello, fantasy; font-size: 400%;">Welcome</h1>
        <p style="font-family: Snell Roundhand, cursive; font-size: 150%;">This blog is intended for a myriad of topics, ranging from culinary art to technical skills. Pen down your thoughts, your concerns or start a new topic that you think needs some consideration.</p>
        <p style="font-family: Snell Roundhand, cursive; font-size: 150%;">Feel free to explore.</p>
          <a class="btn btn-primary" href="/posts" role="button">View posts &raquo;</a>
      </div>
    </div>
{% endblock %}
